@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
}

.wrapper {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: auto;
  background: #1e90ff;
}
